version: '3.7'

services:

  web:
    build: 
      context: .
      dockerfile: ./Dockerfile
    ports: 
      - "8001:8001"
    container_name: web
    expose:
      - "8001"
    networks: 
      - my-network

networks:
  my-network:
    driver: bridge
  
